<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="about-section">
        <h1>About Our Library</h1>
        <p>"Libraries store the energy that fuels the imagination. They open up windows to the world and inspire us 
            to explore and achieve, and contribute to improving our quality of life."</p>
        <p>"When in doubt go to the library." </p>
    </div>
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://www.alberta.ca/assets/people/disability-advocate-tony-flores_rdax_480x481_75.jpg"
                    alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">Senior Librarian</p>
                    <p>"I have found the most valuable thing in my wallet is my library card."</p>
                    <p>jane@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3oQ6Ptbt2t6AdZtZs_pXODtQ3aYjbLnjYK6qkI8Ai7vJin07Pv7ipR3J3bObhj9_Dk_94GYl3hDoN3TTetby5YBdlpVCOfs&usqp=CAU&ec=45732302"
                    alt="Mitali" style="width:100%">
                <div class="container">
                    <h2>Mitali Ross</h2>
                    <p class="title">Librarian</p>
                    <p>"Cutting libraries during a recession is like cutting hospitals during a plague."</p>
                    <p>mitali@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://s3.amazonaws.com/arc-authors/washpost/8b15413c-94c5-482c-893a-dd8640a210cc.png"
                    alt="John" style="width:100%">
                <div class="container">
                    <h2>John William</h2>
                    <p class="title">Accountant</p>
                    <p>“Accounting was the course that helped me more than anything.”</p>
                    <p>john@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>