<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>App</title>
</head>

<body>

  <div class="background">
    <div class="container">
      <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWIL8EQK2oiyxlTqBZUIU-KJZYTrFYfFkZHQ&usqp=CAU"
                width="100" height="100">
            </div>
            <div class="col-md-2">
              <span class="bigger">LibraryManagementSystem</span>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <nav class="navbar navbar-expand-lg navbar-custom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="navbar-brand" href="#">
                <img src="https://cdn3.vectorstock.com/i/thumb-large/23/77/book-icon-logo-vector-2982377.jpg" width="30"
                  height="30" alt="" loading="lazy">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/home">Home <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="badge badge-info dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Class
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#one">10th</a>
                <a class="dropdown-item" href="#two">11th</a>
                <a class="dropdown-item" href="#three">12th</a>
              </div>
            </li>
          </ul>
        </div>

        <!-- Add icon library -->
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Add font awesome icons -->
        <a href="https://en.wikipedia.org/wiki/Facebook" class="fa fa-facebook"></a> &nbsp;
        <a href="https://en.wikipedia.org/wiki/Twitter" class="fa fa-twitter"></a> &nbsp;
        <a href="https://en.wikipedia.org/wiki/Instagram" class="fa fa-instagram"></a>
        &nbsp;
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
      <hr>
    </div>
  </div>
  <router-outlet></router-outlet>

  <hr>
</body>

</html>