<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://www.magd.cam.ac.uk/sites/default/files/styles/1302x600/public/2017-09/magdalene_college_library.jpg?itok=1v6BgUME" class="d-block w-100" width="500" height="800">
          </div>
          <div class="carousel-item">
            <img src="https://d245m47bicpi64.cloudfront.net/_imager/files/Hire/9129/The-Library_Filming_9df4007ed914189556cc8c6908ab4e68.jpg" class="d-block w-100" width="600" height="1000">
          </div>
          <div class="carousel-item">
            <img src="https://www.cranberryhighlands.com/ImageRepository/Document?documentID=30308" class="d-block w-100" width="600" height="900">
          </div>
        </div>
</div>
